<template name="Guests">
	<div class="twelve wide column centered">
		{{> GuestsAdd}}
	</div>
	
	<div class="sixteen wide column">
		<div class="ui top segment">
			<h3>Total Guests: {{guestCount}} | Total RSVPs: {{rsvpCount}}</h3>
			<div class="ui checkbox">
				<input type="checkbox" class="hide-confirmed" checked="{{hideConfirmedGuests}}">
				<label>Hide confirmed guests?</label>
			</div>
		</div>
		{{#GuestsTable}}
			{{#each guests}}
				{{> GuestsShow}}
			{{/each}}
		{{/GuestsTable}}
	</div>
</template>